* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: hsl(30, 54%, 90%);
    font-family: "Inter", sans-serif;
}

main {
    background: hsl(0, 0%, 100%);
    max-width: 70%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
}
h1, h2 {
    font-family: "Noto Serif", serif;
}
h2 {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    padding-bottom: 10px;
}
ul, ol{
    padding: 0 20px;
}
li {
    font-size: 15px;
    padding-top: 8px;
}
p {
    color: hsl(24, 5%, 18%);
}
main .img img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
main .prep h1 {
    padding: 20px 0;
    font-size: 35px;
    font-weight: 700;
}
main .prep p {
    /* padding: 20px 0; */
    font-size: 15px;
    font-weight: 400;
}
main .prep .prep__time {
    padding: 15px;
    margin: 20px 0;
    background: hsl(30, 54%, 90%);
    border-radius: 12px;
}
main .prep .prep__time-head {
    font-size: 18px;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}
main .prep .prep__time .prep__time-list b{
    font-weight: 600;
}
main .ingre, .instruct {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 20px 0 25px 0;
}
main .instruct li{
    font-size: 15px;
}
main .instruct li::marker{
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}
main .nutri {
    padding: 25px 0;
}
main .nutri .nutri__para{
    font-size: 15px;
    padding-bottom: 15px;
}
main .nutri .nutri__trow{
    font-size: 16px;
    display: flex;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 12px 25px;
    font-weight: 400;
}
main .nutri .nutri__trow p{
    width: 50%;
}
main .nutri .nutri__trow p:last-child{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
main .nutri .nutri__trow:last-child{
    border-bottom: none;
}

    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* =========================== MEDIA QUERIES(MEDIUM DEVICES)==============================*/
@media screen and (max-width: 1024px) {
    main {
        max-width: 80%;
        margin: auto;
    }
}


/* =========================== MEDIA QUERIES(SMALL DEVICES)==============================*/
@media screen and (max-width: 600px) {
    main {
        max-width: 100%;
        margin: 0; 
        border-radius: 0%;  
    }
}